# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Logs
*.log

# Test Results
TestResults/
CoverageReport/

# Coverlet
coverage.cobertura.xml
coverage.json

# Publish
publish/

# OS
Thumbs.db
Desktop.ini

# ReSharper
_ReSharper*/
*.DotSettings.user

# Logs
**/Logs/